<!doctype html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>DRD</title>
    <script src="./js/jquery-1.11.2.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <link href="./css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/site.css">
    <link href=".-static/favicon.ico" rel="icon" type="image/x-icon">

</head>
<body>

<nav role="navigation" class="navbar navbar-public navbar-fixed-top" style="positon:relative;z-index:9999">
    <div class="navbar-inner">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#nav-collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span><span style="background-color: #393944"></span>
            </button>
            <a href="./index.html" class="navbar-brand">
                <img src="./img/logo-white.png">
            </a>
        </div>

        <div id="nav-collapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="nav-full"><a href="./index.html">Home</a></li>

                <li class="nav-shortened"><a href="./index.html">Home</a></li>
                <li class="nav-full"><a href="covid.html">COVID-19</a></li>
                <li class="nav-shortened"><a href="covid.html">COVID-19</a></li>
                <li class="dropdown nav-full">
                    <a href="./index.html#" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false" class="dropdown-toggle">
                        Search
                        <span class="caret"></span></a>
                    <ul id="browseDropdown" class="dropdown-menu">
                        <li class="categories-header"><a href="./search.html#1">
                            <b>Search for Virus</b></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="./searchBystructure.html">
                            <b>Search Targets by Virus</b></a>
                        </li>
                        <li role="separator" class="divider"></li>

                    </ul>
                </li>


                <li class="dropdown nav-shortened">
                    <a href="./index.html#" data-toggle="dropdown" role="button"
                       aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">Search<span
                            class="caret"></span></a>
                    <ul id="browseDropdown" class="dropdown-menu">
                        <li class="categories-header"><a href="./search.html#1">
                            <b>Search for Virus</b></a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="./searchBystructure.html">
                            <b>Search Targets by Virus</b></a>
                        </li>
                    </ul>
                </li>

                <li class="nav-shortened"><a href="./download.html">Download</a></li>
                <li class="nav-full"><a href="./download.html">Download</a></li>
                <li class="nav-full"><a href="./faq.html">FAQ</a></li>
                <li class="nav-shortened"><a href="./faq.html">FAQ</a></li>
                <li class="nav-shortened"><a href="./contact.html">Contact</a></li>
                <li class="nav-full"><a href="./contact.html">Contact</a></li>

            </ul>

        </div>
</nav>
<div class="container" style="padding-top:110px">


    <p class="alert alert-info">Q1. What's the meaning of EK-DRD?</p>
    <img style="width:700px;margin:0 auto" class="img img-responsive" src="images/faq1.png">
    <p style="text-align:justify"> Drug Repositioning (also known as drug repurposing, re-profiling, re-tasking or
        therapeutic switching) is the application of known drugs and compounds to treat new indications (i.e., new
        diseases). <br>As shown in the above figure, docetaxel is a FDA-approved marketed drug for cancer treatment.
        Through searching our EK-DRD database, you can find new efficacy of docetaxel for the treatment of malaria. This
        can provide researchers with crucial information about the new efficacy of docetaxel.
        <br>
        Expeimental Knowledge-Based Drug Repositioning Database (EK-DRD) is a comprehensive, freely accessible, online
        database which provides a versatile resource for the display, search, and analysis of structure, function,
        pathway, disease, network, and related well-established drug repositioning annotation for 1963 FDA approved
        drugs (including 102 withdraw drugs), data in EK-DRD is annually updated and freely served for biologists and
        medicinal chemists interested in drug repositioning for drug discovery</p>

    <p></p>
    <br><br>
    <p></p>
    <p class="alert alert-info">Q2. How to search for information about a specific drug?</p>
    <p><strong>1.Search By Text</strong></p>
    <p><br>
        <img style="width:1000px;margin:0 auto" class="img img-responsive" src="images/faq2.png">
        <br><br>
    </p>
    <p><strong>2.Search By Structure</strong></p>
    <p><br>
        <img style="width:1000px;margin:0 auto" class="img img-responsive" src="images/faq3.png">
        <br><br>
    </p>
    <p><strong>3.Search By Blast</strong></p>
    <p><br>
        <img style="width:1000px;margin:0 auto" class="img img-responsive" src="images/faq4.png">
        <br><br>
    </p>
    <p><strong>4.Get the detail of drug or target you want(search by text or structure)</strong></p>
    <p><br>
        <img style="width:1000px;margin:0 auto" class="img img-responsive" src="images/faq5.png">
        <img style="width:1000px;margin:0 auto" class="img img-responsive" src="images/faq6.png">
        <br><br>
    </p>
    <p><strong>4.Get the detail of drug or target you want(search by blast)</strong></p>
    <p><br>
        <img style="width:1000px;margin:0 auto" class="img img-responsive" src="images/faq7.png">
        <br><br>

    </p>
    <p class="alert alert-info">Q3. How should I use the Network function?
    </p>
    <img style="width:1000px;margin:0 auto" class="img img-responsive" src="images/faq9.png">

    <br>
    <br>

    <p class="alert alert-info">Q4. How can I help to improve the database?
    </p>
    <img style="width:1000px;margin:0 auto" class="img img-responsive" src="images/faq10.png">
    <br><br>
    <p class="alert alert-info">Q5. How to define repositioning drugs? In target, cell, organism and clinical trial
        level?</p>
    <p style="text-align:justify">The data used in EK-DRD have as the main components information on drugs with FDA
        approval and experimental information on drug repositioning at four levels (target, cell, organism, and clinical
        trial). In general, FDA-approved drugs have their indications (specific diseases) and targets. In this study,
        the repositioning target for a given drug refers to drug target other than FDA-approved target. This definition
        can be extended to the repositioning data from cell, organism and clinical trial experiment. Therefore, drugs
        with information in those four repositioning levels can be defined as repositioning drugs.</p>
    <br><br>
    <img style="width:600px;margin:0 auto" class="img img-responsive" src="images/faq12.png">
    <p></p>
    <br><br>
    <p></p>

    <p class="alert alert-info">Q6. How many drugs in these 8889 clinical trials by covering how many diseases?
    </p>
    <p style="text-align:justify">
        Approximately 293 diseases involved in these 8889 clinical trials according to classification of diseases in
        ICD-10 (version 2016, <a
            href="https://icd.who.int/browse10/2016/en#/">https://icd.who.int/browse10/2016/en#/</a>), including general
        categories and subcategories. </p>

    <img style="width:750px;margin:0 auto" class="img img-responsive" src="images/faq11.png">

    <br><br>

</div>

<div id="footer"> <!--start of footer-->
    <nav role="navigation" class="navbar navbar-public">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <ul class="nav navbar-nav">
                        <li><p><b>Navigation</b></p></li>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./search.html">Search</a></li>
                        <li><a href="./download.html">Download</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="nav navbar-nav">
                        <li><a href="./index.html#">&nbsp;</a></li>
                        <li><a href="./download.html">FAQ</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="nav navbar-nav">
                        <li><p><b>Support By</b></p></li>
                        -->
                        <li><a href="http://www.html.net/" target="_blank">Java</a></li>
                        <li><a href="http://www.mysql.com/" target="_blank">MySQL</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="nav navbar-nav">

                        <li><p><b>Contact Us</b></p></li>
                        <li><p><span class="glyphicon glyphicon-envelope"></span> &nbsp; &nbsp;lingwang@scut.edu.cn</p>
                        </li>
                        <li><p><span class="glyphicon glyphicon-globe"></span> &nbsp; &nbsp;
                            East Circle Road 382,
                            Guangzhou, China 510006</p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <div class="row">
                <div class="col-xs-12"><p> ©:2021 Idruglab, All rights reserved.</p></div>
            </div>
        </div>
    </nav>
</div>
</body>
</html>